let mapleader=" "

""" General
set scrolloff=10
set visualbell
set clipboard+=unnamed
set ideajoin

""" Plugins
set surround
set commentary
set highlightedyank
set nerdtree

""" Better search
set ignorecase
set smartcase
set incsearch
set hlsearch

""" Keybindings
imap jk <Esc>

""" NERDTree
map <C-l> :nohlsearch<cr>
nnoremap <leader>n :NERDTreeFocus<CR>
nnoremap <C-n> :NERDTree<CR>
nnoremap <C-t> :NERDTreeToggle<CR>
nnoremap <C-f> :NERDTreeFind<CR>

""" LSP
map <leader>gr <Action>(ShowUsages)
map <C-k> <Action>(ParameterInfo)
map <leader>rn <Action>(RenameElement)
map <leader>ca <Action>(ShowIntentionActions)
map <leader>f <Action>(ReformatCode)

map <leader>[d <Action>(GotoPreviousError)
map <leader>]d <Action>(GotoNextError)

""" Search
map <leader>sf <Action>(GotoFile)
map <leader>st <Action>(TextSearchAction)

""" Git
map [c <Action>(VcsShowPrevChangeMarker)
map ]c <Action>(VcsShowNextChangeMarker)
