[user]
	email = 20072509+olrtg@users.noreply.github.com
	name = José Olórtegui
[init]
	defaultBranch = main
[pull]
	rebase = false
[alias]
	save = !git add -A && git commit -m \"SAVEPOINT\"
  undo = !git reset HEAD^ —-mixed
