[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "kitty/tokio-night"]
	path = kitty/tokio-night
	url = git@github.com:davidmathers/tokyo-night-kitty-theme.git
